:root {
  /* cores principais */
  --primary-color: #FCC800;
  --primary-hover-color: #E0B200;
  --primary-color-text: #1cb429;   /* texto sobre botão primário */

  --secondary-color: #1cb429;
  --secondary-hover-color: #1cb429;
  --secondary-color-text: #ffffff;

  /* feedback */
  --success-color: #22C55E;
  --warning-color: #EAB308;
  --error-color: #DC2626;

  /* neutros */
  --surface-ground: #F9FAFB;  /* fundo das telas */
  --surface-card: #ffffff;    /* fundo dos cards */
  --text-color: #111827;
  --text-color-secondary: #6B7280;
}

:root{
  --font-inter: "Inter", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji";
  /* Para PrimeVue styled mode (v4+): */
  --p-font-family: var(--font-inter);
}



/* tira a margem padrão do body e garante altura total */

html, body, #app {
  height: 100%;
  margin: 0;   /* <-- remove margens padrão */
  padding: 0;
}

html, body, #app{
  font-family: var(--font-inter);
}

.p-component{
  font-family: var(--font-inter);
}

button, input, textarea, select, label, small, a, p, h1, h2, h3, h4, h5, h6{
  font-family: inherit;
}
body { margin: 0; }

/* casca da página de auth: ocupa toda a tela e tem cor/fundo */
.auth-shell {
  min-height: 100vh;         /* altura total */
  width: 100vw;              /* largura total */
  display: flex;
  align-items: center;
  justify-content: center;
  /* escolha 1: cor sólida */
  /* background: #0f172a; */ /* slate-900 */
  /* escolha 2: gradiente bonito */
  background: linear-gradient(135deg, #f5f4f2, #edece9);
}

/* card com largura máxima controlada */
.p-card.auth-card {
  width: 100%;
  max-width: 40rem;          /* ~640px; ajuste pra 30rem/48rem se quiser */
  border-radius: 14px;
}

.custom-login-btn {
  background-color: var(--primary-color) !important;   /* verde base */
  border-color: #059669 !important;
}
.custom-login-btn:hover {
  background-color: #059669 !important;   /* verde hover */
  border-color: #047857 !important;
}